
/* google font */

.g-font{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  
}
.logo{
    width: 140px;
    height: 60px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:25PX 120PX 25PX 120PX ;
    /* margin-left: 120px;
    margin-right: 120px; */
}
.menu{
    list-style: none;
    display: flex;
    gap: 32px;
    font-size: 16PX;
    font-weight:500;
    
}
   a{
   text-decoration: none;
   }
   .button-1:hover{
    background-color: hwb(90 0% 0%);

   }
  .b-button{
    
    border-radius: 5px;
    padding: 16px 12px;
    background-color:#56E490 ;
    color:#FFFFFF ;
    border: none;
   }




   /* hero section */

   .hero{
    background-image:url(../assets/hero-bg.png);
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 60vh;
    text-align: center;  
    padding: 120px 120px 120px 180px;

   }
   /* .hero-2{
    border: 10px solid red;
   } */
   .erly-2{
       
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 10px 10px;
     /* margin: auto; 
    margin: 0px 0px;  */
    
    border-radius: 10px;
    
   }

   .button-5{
    color: #56E490;
    font-size: 16px;
    font-weight: 500;
    padding: 10px;
    border-radius: 16px;
   }

   

   .hro-h1{
    font-size: 50px;
    color: white;
    margin-top: 0px;
    margin-bottom: 0px;

   }
   .hro-h2{
    font-size: 50px;
    color: #56E490;
    margin-top: 10px;
   }
   .SML{
    color: #FFFFFF;
    margin-bottom:32PX;
    margin-top: 10px;
    line-height: 16px;
   }
   

   .b-button{
    display: flex;
   

   }
   
   .button-containaer{
    gap: 10px;
    display: flex;
    justify-content: center;
   }

   .b1{
    display: flex;
     justify-content: center;
    align-items: center;
    padding:10px 30px 10px 10px ;
    border-radius: 10px;
    background-color: #56E490;
   }
   .icon{
    width: 30px;
    
   }
   .b2{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid ;
    background-color: oklab(22.909% -0.01219 -0.02962);
    border-radius: 10px;
   }

   .em-button{
    color: white;
   border: #56E490;
   background-color: #001931;
    border-radius: 5px;
    padding: 16px 12px;
    border-radius: 10px;
   }
   small{
    align-items: center;
   }

           /* maine section */
           .maine-1{
             display: flex;
             flex-direction: column;
             justify-content:center ;
             align-items: center;
           font-size: medium;
            font-weight:40;
          text-align: center;
          margin: 0px 120px 0px 120px;
          
          
           }
           .p-1{
            font-size:16px;
            color: #627382;
            font-weight: 300;
            margin-bottom: 40px;
           }
           .mh-1{
            margin-bottom: 2px;
           }

           .maine-container{
            margin: 0 120px 0 120px;
            display: flex;
            justify-content: center;
            justify-content: space-between;
            text-align: center;
            gap:20px;
            background-color: #FFFFFF;
            
            
           }
           .card-1{
            width: 322px;
            height: 250px;
            border: 2px solid rgb(143, 123, 143);
            background-color:white;
            border-radius: 20px;
            padding: 80px 20px 20px 20px;
            margin-bottom: 10px;
            
           
           }
           .card-2{
            width: 322px;
            height: 250px;
            border: 2px solid rgb(78, 75, 78);
            background-color: white;
            border-radius: 20px;
             padding: 80px 20px 20px 20px;
            
           }
           .card-3{
            width: 322px;
            height: 250px;
            border: 2px solid purple;
            background-color:white;
            border-radius: 20px;
           padding: 80px 20px 20px 20px;
           
           }
           .card-4{
           width: 322px;
            height: 250px;
            border: 2px solid purple;
            background-color: white;
            border-radius: 20px;
             padding: 80px 20px 20px 20px;     
           }

           .icon-1{
            margin-bottom: 0px;
            background-color: rgb(199, 36, 36);
            border-radius:100%;
            padding: 10px;
           }
           h4{
            font-size: 20px;
            font-weight:300px;
            color: #001931;
            margin-bottom: 10px;
            margin-top:10px;
           }
           .pp-1{
            font-size: 16px;
            color: #627382;

           }

                   /* knolge section */


              .container-2{
                display: flex;
             align-items: center;
             justify-content: center;
            
                height: 600px;
                margin: 120px 120px;
                gap: 60px;
                /* border:4px solid #001931; */
              }

                   
              .CheckCircle{
                display: flex;
                line-height: 16px;
                color: #001931;
                font-weight: 500;
                gap: 5px;
                /* margin-top: 40px; */
              }
            .crl{
              width:10px;
              height:10px;
            }

            .small-2{
              font-size: 16px;
              font-weight: 300;
            }

            .Solution-section{
              padding: 0 60px 0 60px;
            }
            .Solution{
              color: green;
              font-size: 16px;
              font-weight: 400;
            }
            .h22{
              margin:0 16px 16px 0px ;
              font-size:45px;
              font-weight: bold;
              color: #001931;
            }

            .pp-22{
              font-size: 16px;
              color:#627382;
              margin-bottom:40px;
              
            }
            .CheckCircle-containar{
              margin-top: 40px;
            }


            .maine-2{
             display: flex;
             flex-direction: column;
             justify-content:center ;
             align-items: center;
           font-size: medium;
            font-weight:40;
          text-align: center;
          margin: 120px 120px 120px 120px;
          background-color: #F7F6F2;
          padding: 40px 80px;
          line-height: 16px;
           }

           .b11{
            display: flex;
            padding: 16px;
            background-color: #56E490;
            border-radius: 10px;
            color: white;
           }
           .b22{
            background-color: #56E490;
            border: none;
            color: white;
           }
           .b11:hover{
            background-color: darkorchid;

           }
           .last-p{
            color: #627382;
            font-size: 16px;
            font-weight: 300;
           }
                footer{
                  /* max-width: 1600px; */
                  padding-top: 12px;
                   background-color: #001931;
                }
           .footer-section{
           
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 120px 120px 16px 120px;
            padding-bottom: 160px;
            border-bottom:2px solid #F7F6F2;
            
           }

           .logo-2{
            width: 20px ;
            height: 20px;
          margin-right: 5px;
            
           }
           .s{
            display: flex;
            justify-content:center;
            text-align: center;
            color: white;
            padding-bottom:120px ;
             
           }